{% extends "layouts.html" %}

    {% block body %}
        <!-- <form>
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->
        
        <h1>Register</h1>
        
        <form action="/register" method="POST">
            <!-- <header>ID: </header><input name="id" type="text" placeholder="your id" required><br>  -->
            <!-- required : 꼭 입력해야 하는 칸 -->
            <!-- <header>NAME: </header><input name="name" type="text" placeholder="your name" required><br>
            <header>EMAIL: </header><input name="email" type="email" placeholder="your email" required><br>
            <header>PHONE NUMBER: </header><input name="phone" type="text" placeholder="your phone number" required><br>
            <header>PASSWORD: </header><input name="password" type="password" placeholder="your password" required><br>
            <header>PASSWORD CONFIRM: </header><input name="repassword" type="password" placeholder="password confirm" required><br>
            
            <input type="submit" value="submit">  -->

            {{ form.hidden_tag() }}<br>

            {{ form.id.label }}
            {{ form.id(class="form-control form-control-lg", placeholder="your id") }}<br>

            {{ form.name.label }}
            {{ form.name(class="form-control form-control-lg", placeholder="your name") }}<br>

            {{ form.email.label }}
            {{ form.email(class="form-control form-control-lg", placeholder="your email") }}<br>

            {{ form.phone.label }}
            {{ form.phone(class="form-control form-control-lg", placeholder="your phone number") }}<br>

            {{ form.password.label }}
            {{ form.password(class="form-control form-control-lg", placeholder="your password") }}<br>

            {{ form.repassword.label }}
            {{ form.repassword(class="form-control form-control-lg", placeholder="confirm password") }}<br>

            {{ form.submit(class="btn btn-success") }}
        </form>
    {% endblock %}